

  <!-- main page conent -->

  <div class="text-center ">
   <%= image_tag "capsule.png", :class => ' mt-5' , height:"100"%>
   <h3>Say Something </h3>
   <%= @current_user.username if logged_in? %>
  </div>

  <div class="container mt-5 ">
    <div class="row">

            <!---- Messages display section  -->

      <div class="col-md-8 col-sm-12 text-white ">
        <div class="card text-dark">
          <div>
            <!-- <br><br> -->
              <div class=" justify-content-center fixe">
            <div class="chatbox  container">
              <%= form_for(@message,  url:message_path, :html => {:class => ' input-groups inpt', role: "form" })  do |f|  %>
            <!-- <input type="text" style="height:50px" class="form-control " placeholder="Enter a messages.." aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
            <div class="input-group-append container-fluid ">
              <span class="input-group-text container-fluid" id="basic-addon2">
              <%= f.text_field :body, :class=> "container-fluid form-control-lg marg" %>

                <%=  f.button  '<i class="h-75 btn btn-dark fa fa-regular fa-paper-plane" id="elementID"></i>'.html_safe 
                %>
                </span>
            </div>
          <% end %>
        </div>
        </div>
            </div>
          <div class="card-body high ">
            <h3>Followers Activity</h3>

            

             <%= render @messages %>

            
            
        </div>
      </div>
     </div> 

        <!------- Nav for Items ---------->

      <div class="col-md-4 col-sm-12 ">
            <div class="card gap">
            <div class="card-body high">
              <div class="card">
            <div class="card-header">
              Home
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Messages</li>
              <li class="list-group-item">Friends</li>
            </ul>
              </div>
            </div>
            </div>
      </div>

    </div>
  </div>

  
<footer class="bg-light text-center text-lg-start mt-5 bg-dark text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white text-decoration-none" href="https://mdbootstrap.com/">SyedAdnanAli.com</a>
    </div>
    <!-- Copyright -->
  </footer>